mDbConnection.driver=com.microsoft.sqlserver.jdbc.SQLServerDriver
mDbConnection.url=jdbc:sqlserver://localhost\\SQLExpress;databaseName=AGA;integratedSecurity=true
oDbConnection.driver=oracle.jdbc.OracleDriver
oDbConnection.url=jdbc:oracle:thin:AGA/password@localhost:1521:xe
DbConnection.driver=net.ucanaccess.jdbc.UcanaccessDriver
DbConnection.url=jdbc:ucanaccess://C:/AGA/Data/AGA.mdb
